[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

ipython = "*"
pytest = "*"


[requires]

python_version = "3.6"


[packages]

"jinja2" = "*"
cerberus = "*"
pyyaml = ">=4.2b1"
